<div class="container-fluid">
  <p class="h3 p-3">{{ articuloDetail.nombre }}</p>
  <hr class="mb-4"> <!-- Línea divisoria -->
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img
          class="img-fluid"
          src="{{ articuloDetail.imagen }}"
          alt="{{ articuloDetail.nombre }}"
        />
      </div>
    </div>
    <div class="col">
      <dl>
        <dt>Precio</dt>
        <dd>{{ articuloDetail.precio }}</dd>
        <hr />
        <dt class="bold">Sedes</dt>
        <dd class="caption" *ngFor="let sede of articuloDetail.sedes">
          <a routerLink="/sedes/{{ sede.id }}">{{ sede.nombre }}</a>
        </dd>
        <hr />
        <dt class="bold">Descripcion</dt>
        <dd>{{ articuloDetail.descripcion }}</dd>
      </dl>
    </div>
  </div>
</div>

