
.page-container {
  background-color: #feffff; 
  padding: 20px;
  text-align: center;
}



.main-title {
  font-size: 50px;
  font-family: 'Outfit', sans-serif;
  font-weight: 900;
  line-height: 30.32px;
  letter-spacing: 2.88px;
  color: #d24536;
  text-shadow: 10px 10px 12px rgba(0, 0, 0, 0.3);
}


.custom-card {
  background-color: #add8e6; 
  transition: box-shadow 0.3s ease-in-out;
}


.custom-title {
  font-size: 30px;
  font-family: 'Outfit', sans-serif;
  font-weight: 900;
  line-height: 30.32px;
  letter-spacing: 2.88px;
  color:rgb(0, 0, 0)
}


.custom-card:hover {
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
}

.page-container  {
  border: 2px solid #ccc; 
  padding: 20px; 
  border-radius: 10px; 
  background-image: url('/assets/images/fondo.png'); 
  background-size: 300px; 
  background-position: center; 
  color: rgb(0, 0, 0); 
}
@keyframes glitter {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(2);
  }
  100% {
    filter: brightness(1);
  }
}

.btn-custom {
  background-color: #d24536; 
  color: #fff; 
  font-size: 15px; 
  font-family: 'Outfit', sans-serif; 
  font-weight: 900; 
  line-height: 30.32px; 
  letter-spacing: 2.88px;
  animation: glitter 1s infinite;
}

.btn-custom:hover {
  background-color: #c13628; 
  animation: none;
}

.card-text{
  font-size: 18px;
  font-family: 'Outfit', sans-serif;
  font-weight: 900;
  line-height: 30.32px;
  letter-spacing: 2.88px;
  color:rgb(0, 0, 0)}

  .page-container {
      padding: 20px;
    }
    
    .filter-search-wrapper {
      background-color: #add8e6;
      padding: 15px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
    }
    
    .filter-search-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .uniform-select {
      width: 200px; /* Define un ancho uniforme para los selectores */
      padding: 5px; /* Añade algo de padding si es necesario */
      box-sizing: border-box; /* Asegura que el padding no afecte el ancho total del elemento */
    }
    
    .filter {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
    }
    
    .search {
      margin-left: auto;
    }
    
    
    
    .filter label {
      margin-bottom: 5px;
    }
    
    .filter select {
      padding: 5px;
    }
    
    .search input {
      padding: 5px;
    }
    
    
    .container-fluid {
      padding: 0 15px;
    }
    
    .custom-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    
    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    
    .btn-custom {
      margin-top: auto;
    }

  
.page-container {
padding: 20px;
}


.main-title {
text-align: center;
margin-bottom: 20px;
}


.search-wrapper {
margin-bottom: 40px;
}


.filter-wrapper {
margin-bottom: 20px;
}


.filter-container {
background-color: #ADD8E6; 
padding: 10px;
border-radius: 5px;
}


.search input[type="text"] {
width: 100%;
padding: 8px;
border: 1px solid #ccc;
border-radius: 4px;
}


.filter select {
width: 100%;
padding: 8px;
border: 1px solid #ccc;
border-radius: 4px;
}


.filter-container p {
margin: 0 0 10px;
font-size: 25px;
font-family: 'Outfit', sans-serif;
}
.search-container {
position: relative;
width: 300px; /* Ajusta el ancho según tus necesidades */
}
.search2-container {
position: relative;
width: 300px; /* Ajusta el ancho según tus necesidades */
}

.search-input {
width: 100%;
padding: 10px;
font-size: 16px;
border: 1px solid #ccc;
border-radius: 4px;
}

.dropdown {
position: absolute;
top: 100%;
left: 0;
right: 0;
border: 1px solid #ccc;
border-top: none;
border-radius: 0 0 4px 4px;
background: #fff;
z-index: 1000;
max-height: 200px; 
overflow-y: auto;
}

.dropdown-item {
padding: 10px;
border-bottom: 1px solid #eee;
}

.dropdown-item:last-child {
border-bottom: none;
}

.sede-nombre {
font-weight: bold;
margin: 0;
}

.sede-direccion {
margin: 0;
color: #666;
}

.filters-container {
display: flex;
justify-content: space-between;

}
.page-container {
display: flex;
flex-direction: column;

}

.filters-container {
display: flex;
justify-content: space-between;
margin-bottom: 20px; /* Añade un espacio debajo de los filtros */
}


.btn-primary {
  background-color: #ff0000;
  border-color: #007bff;
}

.mt-3 {
  margin-top: 1rem;
}

.content-below-filters {
/* Añade estilos para el contenido que va debajo de los filtros */
}


    