<!-- Fonts -->
<style>
  @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
</style>

<div class="container-fluid JuanJose">
  <!-- Contenedor principal -->
  <div class="row justify-content-center my-4 align-items-center">
    <!-- Columna del texto -->
    <div class="col-4 text-center">
      <h1 class="UnNuevoNivelDePositividad">Un Nuevo Nivel De Positividad</h1>
      <p class="DescubreNuestrosPlanesHazDeTuMascotaLaMSFelizConPawsitivity">
        Descubre nuestros planes, haz de tu mascota la más feliz con
        Pawsitivity.
      </p>
      <div class="Botones my-4">
        <a routerLink="/reservas/list" class="btn btn-primary BotonPaquetes"
          >RESERVAS</a
        >
        <a routerLink="/sedes/list" class="btn btn-outline-primary BotonSede">SEDE MÁS CERCA A TI</a>
      </div>
    </div>

    <!-- Columna de la imagen del perro -->
    <div class="col-8 position-relative text-center">
      <div class="Dog">
        <div class="DogBackgroundRed Ellipse-Large"></div>
        <div class="DogBackgroundRed Ellipse-Small-1"></div>
        <div class="DogBackgroundRed Ellipse-Small-2"></div>
        <div class="DogBackgroundRed Ellipse-Small-3"></div>
        <div class="DogBackgroundRed Ellipse-Small-4"></div>
        <img class="DogImage" src="assets/images/DogMain.png" alt="Dog Image" />
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="row justify-content-center">
    <div class="col-12 text-center py-4 Footer">
      <div class="Rectangle7"></div>
      <div class="row justify-content-between">
        <div class="col-3 my-2">
          <div class="PWsitivityFooter">
            P<span class="Paw">🐾</span>WSITIVITY
          </div>
        </div>
        <div class="col-3 text-left">
          <div class="Contacto">CONTACTO</div>
          <div class="Telefonos">3176281920<br />0324548033</div>
        </div>
        <div class="col-3 text-center">
          <div class="Desarollo">DESAROLLO</div>
          <div
            class="ProyectoDesarrolladoParaLaMateriaIsis2603UniversidadDeLosAndesColombia2024"
          >
            Proyecto desarrollado para la materia ISIS2603<br />Universidad De
            Los Andes, Colombia 2024
          </div>
        </div>
        <div class="col-3 text-right">
          <div class="RedesSociales">REDES SOCIALES</div>
          <div class="SGuenosParaDescuentosExclusivos">
            Síguenos para descuentos exclusivos.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
